.navbar .nav-link {
  color: white !important;
  font-weight: 600;
}
.navbar .nav-link:hover {
  background: linear-gradient(45deg, #ff9800, #ffc107);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.navbar .nav-link.active {
  background: linear-gradient(45deg, #ff9800, #ffc107);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  /* Optionnel : ajouter un soulignement */
  border-bottom: 2px solid #ff9800;
  padding-bottom: 0.25rem;
}

.navbar-brand {
  color: white !important;
  font-weight: 600;
  font-family: "Aladin", cursive;
  font-size: 2rem;
}
.navbar {
  background-color: #121212;
}
